<div class="left-area columns">
  <div class="columns left-content">
      <!-- Row containing main screen area -->
      <div class="row red">
        <div class="screen-area-dropback screen-area">
        <div class="screen-area-main screen-area cut-corner-bl">
          <!-- Row containing small red buttons, above screen -->
          <div class="row buttons">
            <div class="tiny-button"></div>
            <div class="tiny-button"></div>
          </div>
          <!-- End row containing small red buttons, above screen -->
          <!-- Actual screen -->
          <div class="row screen">
              <p>
                hey
              </p>
          </div>
          <!-- End actual screen -->
          <!-- Row containing doo-dads below main screen -->
          <div class="row screen-area-doodads">
            <div class="large-1 large-offset-1 columns">
              <div class="post-screen-circle"></div>
            </div>
            <div class="large-2 columns screen-lines">
                <hr /><hr /><hr /><hr />
            </div>
          </div>
          <!-- End doodads below main screen -->
        </div>
        </div>
      </div>
      <!-- End row containing main screen area -->

      <!-- Start Post-Screen Buttons column -->
      <div class="large-8 columns post-screen">
        <!-- Post-screen row of buttons -->
        <div class="row post-screen-buttons">
          <div class="blue-button"></div>
          <div class="green-button skinny-button"></div>
          <div class="red-button skinny-button"></div>
        </div>
        <!-- End post-screen row of buttons -->
        <!-- Post-screen yellow text area -->
        <div class="row post-screen-text-area">
          <div class="yellow-text-area"></div>
        </div>
        <!-- End post-screen yellow text area -->
      </div>
      <!-- Start Post-Screen Buttons column -->
      <!-- Start Post-Screen Direction pad column -->
      <div class="large-4 columns cross-wrapper">
        <div class="cross cross-shadow"></div>
        <div class="cross cross-main"></div>
      </div>
      <!-- Start Post-Screen Direction pad column -->
  </div>
  <div class="center-joint">
    <div class="half bottom"></div>
    <div class="half top"></div>
  </div>
</div>
<div class="large-4 columns right-content">

</div>
