<div class="large-4 large-offset-4 columns pokedex-box">
  <!-- Row containing main screen area -->
  <div class="row red">
    <div class="screen-area-dropback screen-area">
    <div class="screen-area-main screen-area cut-corner-bl">
      <!-- Row containing small red buttons, above screen -->
      <div class="row buttons">
        <div class="tiny-button"></div>
        <div class="tiny-button"></div>
      </div>
      <!-- End row containing small red buttons, above screen -->
      <!-- Actual screen -->
      <div class="row screen">
          <p>
            hey
          </p>
      </div>
      <!-- End actual screen -->
      <!-- Row containing doo-dads below main screen -->
      <div class="row screen-area-doodads">
        <div class="large-1 large-offset-1 columns">
          <div class="post-screen-circle"></div>
        </div>
        <div class="large-2 columns screen-lines">
            <hr /><hr /><hr /><hr />
        </div>
      </div>
      <!-- End doodads below main screen -->
    </div>
    </div>
  </div>
  <!-- End row containing main screen area -->

  <div class="row">

  </div>
</div>
