<html>
  <head>
    <title>PERKEDERX</title>
    <link rel="stylesheet" href="/css/normalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/foundation.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
    <script src="/js/vendor/modernizr.js"></script>


  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="small-12 columns">
          <%= yield %>
        </div>
      </div>
    </div>

    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/fastclick.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script src="/js/delete_alert.js"></script>
    <script src="/js/reveal_modal.js"></script>


  </body>
</html>
