/* Disclaimer: this CSS is a total disorganized mess! I have grand plans
   to clean it up (hopefully even make it all into SASS!) but for now
   this is what you get. */

body {
  background-color: black;
  padding: 10px;
}

.modal a {
  text-decoration: underline;
}

.red {
  background-color: red;
}


.pokedex-wrapper {
  margin: 10px;
  height: 550px;
}

.left-area {
  background-color: red;
  position: relative;
  width: 438px;
  height: 100%;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding: 38px;
  box-shadow:
    /* Black Lines */
    inset 0 0 0 1px rgb(145,0,0),
    inset 0 0 0 19px red,
    inset 0 0 0 20px rgb(145,0,0),
    /* Shadow */
    -1px 0px 0px rgb(145, 0, 0),
    -2px 2px 0px rgb(145, 0, 0),
    -4px 4px 0px rgb(145, 0, 0),
    -5px 6px 0px rgb(145, 0, 0),
    -7px 8px 0px rgb(145, 0, 0),
    -8px 10px 0px rgb(145, 0, 0),
    -10px 12px 0px rgb(145, 0, 0),
    -11px 13px 0px rgb(0, 0, 0);
}

.left-content {
  width: 360px;
  position: absolute;
  bottom: 36px;
  left: 36px;
}

.screen-area{
  border-radius: .75rem;
  position: relative;
  margin-bottom: 10px;
}

.screen-area-dropback {
  background-color: #666;
  background:
  linear-gradient(45deg, transparent 25px, #666 0) bottom left;
}

.screen-area-main {
  background-color: #aaa;
  padding: 0 1.9375rem 0.9375rem 1.9375rem;
  background: linear-gradient(45deg,  transparent 25px, #aaa 0) bottom left;
  left: 3px;
  bottom: 4px;
}

.screen {
  background-color: white;
  margin-bottom: .75rem;
  border-radius: .5rem;
  padding: 0.9375rem;
  box-shadow: 0 0 1px black inset, 1px -1px #666;
  height: 170px;
  text-align: center;
}

.screen img {
  height: 100%;
}

.buttons {
  text-align: center;
}

.tiny-button {
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 9px;
  display: inline-block;
  box-shadow: -1px 1px 0px rgb(173, 1, 1);
}

.row.screen-area-doodads {
  margin-top: 10px;
}

.pokebutton,
input.pokebutton {
  position: relative;
}

.pokebutton:active {
  top: 1px;
  left: -1px;
}

input.post-screen-circle {
  height: 24px;
  width: 24px;
  border-radius: 30px;
  background-color: red;
  box-shadow: -2px 2px 0px rgb(173, 1, 1);
  border: 0px solid black;
  margin-top: 4px;
  margin-left: 10px;
}

input.post-screen-circle:active {
  background-color: rgb(230,0,0);
  box-shadow: -1px 1px 0 rgb(173, 1, 1);
}

.screen-lines {
  width: 120px;
}

.screen-lines hr {
  border-top: 2px solid black;
  margin: 4px 0;
}

.post-screen {
  padding: 0;
  padding-left: 10px;

}

input.blue-button {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: rgb(86, 86, 242);
  box-shadow: -2px 2px 0 rgb(51, 51, 153);
  display: inline-block;
  margin-right: 5px;
  border: 0px solid black;
}

.blue-button:active {
  background-color: rgb(72,72,208);
  box-shadow: -1px 1px 0 rgb(24,24,81);
}

.skinny-button {
  width: 70px;
  height: 20px;
  border-radius: 20px;
  display: inline-block;
  margin-right: 5px;
  margin-top: -5px;
  vertical-align: super;
}

.green-button {
  background-color: lime;
  box-shadow: -2px 2px 0 rgb(0, 126, 0);
}

.green-button:active {
  background-color: rgb(0,229,0);
  box-shadow: -1px 1px 0 rgb(0, 126, 0);
}

.red-button {
  background-color: tomato;
  box-shadow: -2px 2px 0 rgb(150, 57, 40);
}

.red-button:active {
  background-color: rgb(223, 83, 58);
  box-shadow: -1px 1px 0 rgb(150, 57, 40);
}

input.yellow-text-area,
input.yellow-text-area:focus {
  width: 150px;
  height: 60px;
  background-color: yellow;
  border-radius: 10px;
  -webkit-box-shadow: 1px -1px #666;
  box-shadow: 1px -1px #666;
  margin: auto;
  margin-top: 15px;
  border-color: transparent;
  transition: none;
  text-align: center;
  font-size: 1.45rem;
}

.cross-wrapper {
  position: relative;
  margin-top: 10px;
  z-index: 1;
}

.cross,
.cross-main {
  width: 100px;
  height: 100px;
  position: absolute;
}

.cross:before, .cross:after {
  content: "";
  position: absolute;
  z-index: -1;

}

.cross:before {
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
}

.cross:after {
  top: 50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}

.cross-shadow:before, .cross-shadow:after {
  background: #113232;
}

.cross-main:before, .cross-main:after {
  background: #04746D;
}

.cross-main {
  top: -3px;
  left: 18px;
}

.cross-main div {
  position: absolute;
  background-color: #04746D;
}

.cross-main .vertical {
  width: 30%;
  height: 50%;
  left: 35%;
}

.cross-main .horizontal {
  width: 50%;
  height: 30%;
  top: 35%;
}

.cross-main .cross-top { top: 0; }
.cross-main .cross-bottom { bottom: 0; }
.cross-main .cross-left { left: 0; }
.cross-main .cross-right { right: 0; }

.cross-main .cross-top:active {
  transform: skewX(4deg);
  left: calc(35% - 1px);
}

.cross-main .cross-bottom:active {
  transform: skewX(-4deg);
  left: calc(35% - 1px);
}

.cross-main .cross-left:active {
  transform: skewY(-4deg);
  top: calc(35% + 1px);
}

.cross-main .cross-right:active {
  transform: skewY(4deg);
  top: calc(35% + 1px);
}


.center-joint {
  width: 55px;
  height: 539px;
  border: 1px solid rgb(145,0,0);
  position:relative;
  left: calc(100% + 17px);
  top: 82px;
  left: calc(100% + 17px);
  top: -12px;
  z-index: 10;
}

.center-joint .half {
  width: 100%;
  position: absolute;
}

.center-joint,
.center-joint .half {
  border-radius: 80px/30px;
}

.center-joint .bottom.half {
  height: 80%;
  bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image:
    /* Upper curve */
    radial-gradient(265px at 50% calc(100% - 20px),
      transparent 50px,
      rgb(145,0,0) 51px,
      transparent 52px ),
    /* Lower curve */
    radial-gradient(265px at 50% calc(100% - 50px),
      transparent 50px,
      rgb(145,0,0) 51px,
      transparent 52px ),
    /* Lowest shadow */
    radial-gradient(265px at 50% calc(100% + 33px),
      rgba(145,0,0,1) 50px,
      transparent 52px ),
    /* Vertical shading */
    linear-gradient(90deg, rgb(190,0,0) 19%, red 20%);
}

.center-joint .top.half{
  height: 20%;
  top: 0;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  background-image:
  /* Lower curve */
  radial-gradient(265px at 50% calc(100px),
  transparent 50px,
  rgb(145,0,0) 51px,
  transparent 52px
  ),
  /* Upper curve */
  radial-gradient(265px at 50% calc(130px),
  transparent 50px,
  rgb(145,0,0) 51px,
  transparent 52px
  ),
  /* Vertical shading */
  linear-gradient(90deg, rgb(190,0,0) 19%, red 20%);
}


.left.top-wrapper,
.left.top-wrapper .left-half {
  border-top-left-radius: 10px;
}

.left.top-wrapper {
  width: 471px;
  height: 100px;
  position: absolute;
  top: 3px;
  left: 0px;
}

.left.top-wrapper.main-wrapper {
  top: -10px;
  left: 6px;
  position: absolute;
}

.left.top-wrapper .left-half {
  width: 50%;
  border-bottom-right-radius: 80px;
  background-color: rgb(145,0,0);
  height: 100%;
  border-bottom: 1px solid rgb(145,0,0);
  border-left: 1px solid rgb(145,0,0);
  border-bottom-right-radius: 149px 62px;
}

.left.top-wrapper.main-wrapper .left-half {
  background-color: rgb(255,0,0);
  box-shadow: -1px 0px 0px rgb(145, 0, 0),
  -2px 2px 0px rgb(145, 0, 0),
  -4px 4px 0px rgb(145, 0, 0),
  -5px 6px 0px rgb(145, 0, 0),
  -7px 8px 0px rgb(145, 0, 0),
  -8px 10px 0px rgb(145, 0, 0),
  -10px 12px 0px rgb(145, 0, 0);
}

.left.top-wrapper .right-half {
  width: calc(50% + 9px);
  position: absolute;
  bottom: 0;
  right: 6px;
}

.left.top-wrapper .right-half.curve {
  height: calc(48% + 9px);
  background-color: rgb(255,0,0);
  border-top-left-radius: 98px 48px;
  z-index: 1;
  border-top: 1px solid rgb(145,0,0);
  right: 10px;
  bottom: 10px;
  clip: rect(0px, 205px, 190px, 10px)
}

.left.top-wrapper.main-wrapper .right-half.curve {
  background-color: rgb(145,0,0);
  z-index:0;
  clip: rect(0px, 222px, 37px, 0);
}

.left.top-wrapper .right-half.full {
  height: 100%;
  background-color: rgb(145,0,0);
  border-top-right-radius: 36px 13px;
  clip: rect(0px, 248px, 59px, 0);
}

.left.top-wrapper.main-wrapper .right-half.full {
  background-color: rgb(255,0,0);
}

.lights {
  position: absolute;
  top:0;
  left:20px;
}

.light {
  display: inline-block;
  vertical-align: top;
  border-radius: 50px;
  border: 1px solid black;
}

.large.light.shadow {
  width: 75px;
  height: 75px;
  padding: 10px;
  position: relative;
  background-color: #fff;
  border-color: rgb(145,0,0);
}

.large.light.main {
  height: 60px;
  width: 60px;
  top: 4px;
  left: 8px;
  border-color: #06D5D8;
  background-image:
    radial-gradient(1px 2px at 12px 29px,
      #D0F5F5 5px,
      #09F7FA 6px);
  transform: rotate(50deg);  position: absolute;
}

.small.light {
  width: 20px;
  height: 20px;
  margin: 0 4px;
  background-image:
    radial-gradient(2px 1px at 9px 4px,
      rgba(255,255,255,.8) 3px,
      transparent 5px);
  transform: rotate(-30deg);
}

.small.light.red {
  background-color: red;
  border-color: rgb(155,0,0);
}

.small.light.yellow {
  background-color: yellow;
  border-color: rgb(89, 89, 0);
}

.small.light.green {
  background-color: lime;
  border-color: rgb(10, 155, 10);
}
