body {
  background-color: red;
  padding: 10px;
}

.red {
  background-color: red;
}

.screen-area{
  border-radius: .75rem;
  position: relative;
}

.screen-area-dropback {
  background-color: #666;
  background: linear-gradient(45deg,  transparent 25px, #666 0) bottom left;
}

.screen-area-main {
  background-color: #aaa;
  padding: 0 1.9375rem 0.9375rem 1.9375rem;
  background: linear-gradient(45deg,  transparent 25px, #aaa 0) bottom left;
  left: 3px;
  bottom: 4px;
}

.screen {
  background-color: white;
  margin-bottom: .75rem;
  border-radius: .5rem;
  padding: 0.9375rem;
  box-shadow: 0 0 1px black inset, -1px 1px #666;
}

.buttons {
  text-align: center;
}

.tiny-button {
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 9px;
  display: inline-block;
  box-shadow: -1px 1px 0px rgb(173, 1, 1);
}


.row.screen-area-doodads {
  margin-top: 10px;
}

.post-screen-circle {
  height: 24px;
  width: 24px;
  border-radius: 30px;
  background-color: red;
  box-shadow: -2px 2px 0px rgb(173, 1, 1);
}

.screen-lines {
  width: 120px;
}

.screen-lines hr {
  border-top: 2px solid black;
  margin: 4px 0;
}
