/* Disclaimer: this CSS is a total disorganized mess! I have grand plans
   to clean it up (hopefully even make it all into SASS!) but for now
   this is what you get. */

body {
  background-color: black;
  padding: 10px;
}

.red {
  background-color: red;
}

.left-area {
  background-color: red;
  position: relative;
  width: 438px;
  height: 550px;
  margin: 50px;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding: 38px;
  box-shadow:
    /* Black Lines */
    inset 0 0 0 1px black,
    inset 0 0 0 19px red,
    inset 0 0 0 20px black,
    /* Shadow */
    -1px 0px 0px rgb(145, 0, 0),
    -2px 2px 0px rgb(145, 0, 0),
    -4px 4px 0px rgb(145, 0, 0),
    -5px 6px 0px rgb(145, 0, 0),
    -7px 8px 0px rgb(145, 0, 0),
    -8px 10px 0px rgb(145, 0, 0),
    -10px 12px 0px rgb(145, 0, 0),
    -11px 13px 0px rgb(0, 0, 0);
}

.left-content {
  width: 360px;
  position: absolute;
  bottom: 36px;
  left: 36px;
}

.screen-area{
  border-radius: .75rem;
  position: relative;
  margin-bottom: 10px;
  /* border: 1px solid black; */
}

.screen-area-dropback {
  background-color: #666;
  background:
  linear-gradient(45deg, transparent 25px, #666 0) bottom left;
  /* border: 1px solid black; */
}

.screen-area-main {
  background-color: #aaa;
  padding: 0 1.9375rem 0.9375rem 1.9375rem;
  background: linear-gradient(45deg,  transparent 25px, #aaa 0) bottom left;
  left: 3px;
  bottom: 4px;
}

.screen {
  background-color: white;
  margin-bottom: .75rem;
  border-radius: .5rem;
  padding: 0.9375rem;
  box-shadow: 0 0 1px black inset, 1px -1px #666;
  height: 170px;
}

.buttons {
  text-align: center;
}

.tiny-button {
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 9px;
  display: inline-block;
  box-shadow: -1px 1px 0px rgb(173, 1, 1);
}

.row.screen-area-doodads {
  margin-top: 10px;
}

.post-screen-circle {
  height: 24px;
  width: 24px;
  border-radius: 30px;
  background-color: red;
  box-shadow: -2px 2px 0px rgb(173, 1, 1);
}

.screen-lines {
  width: 120px;
}

.screen-lines hr {
  border-top: 2px solid black;
  margin: 4px 0;
}

.post-screen {
  padding: 0;
  padding-left: 10px;

}

.blue-button {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: rgb(86, 86, 242);
  box-shadow: -2px 2px 0 rgb(51, 51, 153);
  display: inline-block;
  margin-right: 5px;
}

.skinny-button {
  width: 70px;
  height: 20px;
  border-radius: 20px;
  display: inline-block;
  margin-right: 5px;
  margin-top: -5px;
  vertical-align: super;
}

.green-button {
  background-color: lime;
  box-shadow: -2px 2px 0 rgb(0, 126, 0);
}

.red-button {
  background-color: tomato;
  box-shadow: -2px 2px 0 rgb(150, 57, 40);
}

.yellow-text-area {
  width: 150px;
  height: 60px;
  background-color: yellow;
  border-radius: 10px;
  -webkit-box-shadow: 1px -1px #666;
  box-shadow: 1px -1px #666;
  margin: auto;
  margin-top: 15px;
}

.cross-wrapper {
  position: relative;
  margin-top: 10px;
  z-index: 1;
}

.cross {
  width: 100px;
  height: 100px;
  position: absolute;
}

.cross:before, .cross:after {
  content: "";
  position: absolute;
  z-index: -1;

}

.cross:before {
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
}

.cross:after {
  top: 50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}

.cross-shadow:before, .cross-shadow:after {
  background: #113232;
}

.cross-main:before, .cross-main:after {
  background: #04746D;
}

.cross-main {
  top: -3px;
  left: 18px;
}






.center-joint {
  width: 55px;
  height: 541px;
  border: 1px solid black;
  position:relative;
  left: calc(100% + 17px);
  top: 82px;
  left: calc(100% + 17px);
  top: -12px;
  z-index: 10;
}

.center-joint .half {
  width: 100%;
  position: absolute;
}

.center-joint,
.center-joint .half {
  border-radius: 80px/30px;
}

.center-joint .bottom.half {
  height: 80%;
  bottom: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image:
    /* Upper curve */
    radial-gradient(265px at 50% calc(100% - 20px),
      rgba(0,0,0,0) 50px,
      rgba(0,0,0,1) 51px,
      rgba(0,0,0,0) 52px ),
    /* Lower curve */
    radial-gradient(265px at 50% calc(100% - 50px),
      rgba(0,0,0,0) 50px,
      rgba(0,0,0,1) 51px,
      rgba(0,0,0,0) 52px ),
    /* Lowest shadow */
    radial-gradient(265px at 50% calc(100% + 33px),
      rgba(145,0,0,1) 50px,
      rgba(0,0,0,1) 51px,
      rgba(0,0,0,0) 52px ),
    /* Vertical shading */
    linear-gradient(90deg, rgb(190,0,0) 19%, red 20%);
}

.center-joint .top.half{
  height: 20%;
  top: 0;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  background-image:
  /* Lower curve */
  radial-gradient(265px at 50% calc(100px),
  rgba(0,0,0,0) 50px,
  rgba(0,0,0,1) 51px,
  rgba(0,0,0,0) 52px
  ),
  /* Upper curve */
  radial-gradient(265px at 50% calc(130px),
  rgba(0,0,0,0) 50px,
  rgba(0,0,0,1) 51px,
  rgba(0,0,0,0) 52px
  ),
  /* Vertical shading */
  linear-gradient(90deg, rgb(190,0,0) 19%, red 20%);
}


.left.top-wrapper,
.left.top-wrapper .left-half {
  border-top-left-radius: 10px;
}

.left.top-wrapper {
  width: 471px;
  height: 100px;
  position: absolute;
  top: 3px;
  left: 0px;
}

.left.top-wrapper.main-wrapper {
  top: -10px;
  left: 6px;
  position: absolute;
}

.left.top-wrapper .left-half {
  width: 50%;
  border-bottom-right-radius: 80px;
  background-color: rgb(145,0,0);
  height: 100%;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-bottom-right-radius: 149px 62px;
}

.left.top-wrapper.main-wrapper .left-half {
  background-color: rgb(255,0,0);
  box-shadow: -1px 0px 0px rgb(145, 0, 0),
  -2px 2px 0px rgb(145, 0, 0),
  -4px 4px 0px rgb(145, 0, 0),
  -5px 6px 0px rgb(145, 0, 0),
  -7px 8px 0px rgb(145, 0, 0),
  -8px 10px 0px rgb(145, 0, 0),
  -10px 12px 0px rgb(145, 0, 0);
}

.left.top-wrapper .right-half {
  width: calc(50% + 9px);
  position: absolute;
  bottom: 0;
  right: 6px;
}

.left.top-wrapper .right-half.curve {
  height: calc(48% + 9px);
  background-color: rgb(255,0,0);
  border-top-left-radius: 98px 48px;
  z-index: 1;
  border-top: 1px solid black;
  right: 10px;
  bottom: 10px;
  clip: rect(0px, 205px, 190px, 10px)
}

.left.top-wrapper.main-wrapper .right-half.curve {
  background-color: rgb(145,0,0);
  z-index:0;
  clip: rect(0px, 222px, 37px, 0);
}

.left.top-wrapper .right-half.full {
  height: 100%;
  background-color: rgb(145,0,0);
  border-top-right-radius: 36px 13px;
  clip: rect(0px, 248px, 59px, 0);
}

.left.top-wrapper.main-wrapper .right-half.full {
  background-color: rgb(255,0,0);
}
